doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
      h2 Welcome#{username ? " " + username : ""}!
    block content
    div.well
      ul.inline#command-list.pull-right
        span.label.label-success Commands:
        li
          a#cmd-login(href="#", data-toggle="Login using your account", data-title="Login")
            span.label.label-info login
        li
          a#cmd-register(href="#", data-toggle="Create a new account", data-title="Register")
            span.label.label-info register
        li
          a#cmd-help(href="#", data-toggle="Show help", data-title="Help")
            span.label.label-info help
        li
          a#cmd-exit(href="#", data-toggle="Exit", data-title="Exit")
            span.label.label-info exit
      span.help-block#cmd-response.hidden
        p.text-error
      input.input-block-level(type='text', name="command-line", value="", placeholder="Enter command", id="command-line")
    script(src='/javascripts/jquery-1.9.1.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/script.js')
